
# Ignore build artifacts yo
work/

# Ignore local install artifacts yo (except for gl-matrix)
node_modules/*
!node_modules/gl-matrix
node_modules/gl-matrix/*
!node_modules/gl-matrix/src

# Wtf is this
npm-debug.log

# Ignore Emacs artifacts yo
*~