
# Ignore build artifacts
work/

# Ignore local install artifacts (except for gl-matrix)
node_modules/*
!node_modules/gl-matrix
node_modules/gl-matrix/*
!node_modules/gl-matrix/src

npm-debug.log

# Emacs artifacts
*~

*#
.\#*
