
body {
	background-color: black;
	color: white;
}

div {
	box-sizing: border-box;
}

.canvas_real_container {
	border: 2px solid brown;
}

.canvas_real_container > div,
.canvas_real_container > button {
	border: 2px solid brown;
}

.canvas_real_container:after {
	clear:both;
}

.canvas_container {
	float: left;
	margin: auto;
}

.display_array {
	position: relative;
	font-size: 0.75rem;
	line-height: 2;
	min-height: 10px;
	padding-top: 10px;
}

.display_label {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 0.3rem;
}

.hide_class {
	display: none;
}

.absolute_class, .zzz, .play_focuser {
	position: absolute;
	top: 0;
}
.absolute_class { left: 0; }
.zzz { right: 0; }
.play_focuser { right: -50px; }
