
body {
	background-color: black;
	color: white;
}

div {
	box-sizing: border-box;
	margin: auto;
}

.canvas_real_container > button {
	border: 2px solid brown;
}

.canvas_real_container:after {
	clear:both;
}

.canvas_container {
	margin: auto;
}

.display_array {
	position: relative;
	font-size: 0.75rem;
	line-height: 2;
	min-height: 10px;
	padding-top: 10px;
}

.display_label {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 0.3rem;
}

.the_canvas, .the_hidden_canvas {
}

.the_canvas {
	border: 2px solid brown;
    filter: blur(0px);
	transition:
		opacity 1.5s ease-in,
		filter 3s cubic-bezier(.02,.58,.5,.97),
		max-height 0.75s linear;
	opacity: 1;
	max-height: 5000px;
}

.the_hidden_canvas {
	filter: blur(20px);
	transition:
		opacity 0.3s linear,
		filter 1s linear,
		max-height 0.75s linear;
	opacity: 0;
	max-height: 0;
}

.absolute_class {
	position: absolute;
	top: 0;
	left: 0;
}

.zzz {
	position: relative;
	float: right;
}

.play_focuser_big, .play_focuser_small {
	transition:
		color 0.6s ease-in,
		content 0.4s linear,
		background-color 1.2s linear,
		top 0.9s ease-out,
		right 1.2s ease-in,
		font-size 0.6s ease-out;
	position: absolute;
	overflow: hidden;
}
.play_focuser_small {
	top: 0;
	right: 0;
	font-size: 0.4rem;
	color: rgb(140,255,0);
	background-color: rgb(0,0,255);
}
.play_focuser_small:before {
	content: "Pause"
}
.play_focuser_big {
	top: 40%;
	right: 50%;
	font-size: 2rem;
	color: rgb(255,255,255);
	background-color: rgb(0,0,0);
}
.play_focuser_big:before {
	content: "Play!"
}

.play_area {
	tabindex: 0;
	position: absolute;
	top: 0;
	left: -3000px;
	opacity: 0;
}

.settings {
    position: fixed;
	bottom: 0;
	left: 0;
	background-color: rgba(70, 70, 70, .6);
}
