
body {
	background-color: black;
	color: white;
}

div {
	box-sizing: border-box;
}


.canvas_container {
	border: 2px solid brown;
}

.display_array {
	position: relative;
	font-size: 0.3rem;
	line-height: 2;
	min-height: 10px;
	padding-top: 10px;
}

.display_label {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 0.3rem;
}
z`